
body{padding:0;margin:0;font:13px Arial,Helvetica,Garuda,sans-serif;*font-size:small;*font:x-small;}
h1,h2,h3,h4,h5,h6,ul,li,em,strong,pre,code{padding:0;margin:0;line-height:1em;font-size:100%;font-weight:normal;font-style: normal;}
table{font-size:inherit;font:100%;}
ul{list-style:none;}
img{border:0;}
p{margin:1em 0;}
/* CSS Reset ^^^ */
body {
  background-attachment: fixed;
/*--- I tried everything to make the background image show up
in github but nothing has worked. My other image is in my
html file while this one is in the CSS file. I know that has
something to do with it. ---*/
  background-image: url("web-workbook/CheckPoint1/CheckPoint1Images/gameiconbackground.jpg");
}
/*--- I wanted to make the navbar simple yet pop out, so I used
bright colors for the buttons. ---*/
nav {
  opacity: .9;
  width: 100%;
  background-color: black;
  padding-top: 10px;
  padding-bottom: 20px;
}
.retro {
  display: inline-block;
}
h1 {
  display: inline-block;
  background-color: gray;
  border: double;
  border-color: black;
  border-width: thick;
  border-radius: 40px;
  font-size: 40px;
  color: rgb(198, 9, 9);
  text-align: center;
  padding: 15px 15px 15px 15px;
  margin-left: 10px;
  width: 350px;
  font-family: 'Atomic Age', cursive;
}
.sub {
  background-color: black;
  padding-bottom: 20px;
  padding-left: 40px;
  color: white;
  font-family: 'Press Start 2P', cursive;
}
.input[type=text] {
    display: inline-block;
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
/* When someone clicks in the search field, it changes its width.*/
input[type=text]:focus {
    width: 100%;
}
.buttons {
  font-family: 'Atomic Age', cursive;
  margin-top: -50px;
  margin-right: 15px;
  float: right;
  display: inline-block;
}
/*--- I decided to make the buttons red, blue, green, and yellow
because old school game controllers used those colors for the
buttons. Sort of like a reference to them. ---*/
.inventory:hover {
  background-color: hotpink;
}
.inventory {
  display: inline-block;
  font-size: 17px;
  text-align: center;
  background-color: red;
  border-radius: 25px;
  border: double;
  color: black;
  width: 100px;
  height: 30px;
  padding-top: 13px;
}
.packages:hover {
  background-color: hotpink;
}
.packages {
  display: inline-block;
  font-size: 17px;
  text-align: center;
  background-color: blue;
  border-radius: 25px;
  border: double;
  color: black;
  width: 100px;
  height: 30px;
  padding-top: 13px;
}
.clearance:hover {
  background-color: hotpink;
}
.clearance {
  display: inline-block;
  font-size: 17px;
  text-align: center;
  background-color: yellow;
  border-radius: 25px;
  border: double;
  color: black;
  width: 100px;
  height: 30px;
  padding-top: 13px;
}
.accessories:hover {
  background-color: hotpink;
}
.accessories {
  display: inline-block;
  font-size: 17px;
  text-align: center;
  background-color: green;
  border-radius: 25px;
  border: double;
  color: black;
  width: 120px;
  height: 30px;
  padding-top: 13px;
}
.search {
  border-bottom: solid black;
  float: left;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 20px;
  background-color: red;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 25px;
  width: 400px;
}
.collection {
  position: absolute;
  float: left;
  padding-top: 160px;
  width: 600px;
  height: 450px;
  margin-left: -240px;
}
/*--- These buttons change color when hovering over them:
Virtual boy, NES, and SNES. ---*/
.virtual {
  padding: 15px;
  width: 140px;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
  background-color: yellow;
  border-bottom: solid black;
  border-right: solid black;
  float: left;
  margin-left: -320px;
  margin-top: 610px;
  transform: rotate(270deg);
  transform-origin: left top 0;
}
.virtual:hover {
  background-color: hotpink;
}
.nes {
  padding: 15px;
  width: 90px;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
  background-color: yellow;
  border-bottom: solid black;
  border-right: solid black;
  float: left;
  margin-left: -320px;
  margin-top: 422px;
  transform: rotate(270deg);
  transform-origin: left top 0;
}
.nes:hover {
  background-color: hotpink;
}
.snes {
  padding: 15px;
  width: 90px;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
  background-color: yellow;
  border-bottom: solid black;
  border-right: solid black;
  float: left;
  margin-left: -320px;
  margin-top: 285px;
  transform: rotate(270deg);
  transform-origin: left top 0;
}
.snes:hover {
  background-color: hotpink;
}
/*--- for some reason the N64, GameCube, and Wii buttons
don't change color when I hover over them ---*/
.n {
  padding: 15px;
  width: 90px;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
  background-color: yellow;
  border-bottom: solid black;
  border-right: solid black;
  float: left;
  margin-top: 80px;
  margin-left: -240px;
}
.n:hover {
  background-color: hotpink;
}
.cube {
  padding: 15px;
  width: 160px;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
  background-color: yellow;
  border-bottom: solid black;
  border-right: solid black;
  float: left;
  margin-left: -40px;
  margin-top: 80px;
  transform-origin: left top 0;
}
.cube:hover {
  background-color: hotpink;
}
.wii {
  padding: 15px;
  width: 100px;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
  background-color: yellow;
  border-bottom: solid black;
  border-right: solid black;
  float: left;
  margin-left: 75px;
  margin-top: 80px;
  transform-origin: left top 0;
}
.wii:hover {
  background-color: hotpink;
}
/*--- I wanted to place more buttons along the right side
of the center picture. They would have said GameBoy, Wii U,
and Switch, but the buttons wouldn't behave and I had to
scrap the idea. ---*/
.about {
  padding: 10px;
  width: 90px;
  font-size: 20px;
  font-family: 'Atomic Age', cursive;
  background-color: green;
  border: double;
  border-radius: 10px;
  border-bottom: solid black;
  border-right: solid black;
  float: left;
  margin-top: 665px;
  margin-left: -240px;
}
.about:hover {
  background-color: hotpink;
}
.fbox {
  width: 100%;
  margin-top: 650px;
  margin-right: 35em;
  border-top: solid red 10px;
  background-color: black;
  height: 150px;
}
/*--- I wanted to keep the footer simple yet still pop out like
the navbar. So I gave the buttons similar colors and used
retro text for the "Call Us" as well as the phone number. ---*/
.contact {
  padding: 10px;
  width: 90px;
  font-size: 20px;
  font-family: 'Atomic Age', cursive;
  background-color: yellow;
  border: double;
  border-radius: 10px;
  border-bottom: solid black;
  border-right: solid black;
  float: left;
  margin-top: 665px;
  margin-left: -113px;
}
.contact:hover {
  background-color: hotpink;
}
.sell {
  padding: 10px;
  width: 90px;
  font-size: 20px;
  font-family: 'Atomic Age', cursive;
  background-color: red;
  border: double;
  border-radius: 10px;
  border-bottom: solid black;
  border-right: solid black;
  float: left;
  margin-top: 665px;
  margin-left: -370px;
}
.sell:hover {
  background-color: hotpink;
}
.phone {
  color: white;
  padding: 10px;
  width: 330px;
  font-size: 15px;
  font-family: 'Press Start 2P', cursive;
  float: left;
  margin-top: 665px;
  margin-left: -800px;
}
