.fun1 {
  background-color: black;
}
.fun11 {
  color: red;
  padding-left: 10px;
  padding-top: 10px;
}
h2 {
  color: gray;
  padding-left: 10px;
  padding-bottom: 10px;
}
.fun2 {
  background-color: black;
}
.fun22 {
  color: blue;
  padding-left: 10px;
  padding-top: 10px;
}
.lastfun {
  background-color: black;
}
.lastfunn {
  color: green;
  padding-left: 10px;
  padding-top: 10px;
}
