/* I decided to do a sleek black design. Simple and modern-ish. */
body {
  background-color: black;
}
/* I invered the colors on the nav, it was origionally white. */
.nav1 {
  background-color: black;
}
h1 {
  text-align: center;
  color: gray;
}
h3 {
  color: gray;
}
p {
  color: white;
  text-align: left;
}
img {
  margin-top: 10%;
  height: 100%;
  width: 100%;
}
.ptext {
  margin-top: 5%;
}
/* I feel like I kept it simple and sleek, and I'm overall happy with how my site
came out.*/
